.banner {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  height: 450px;
  margin-bottom: 40px;
}

.content {
  position: absolute;
  top: 150px;
  margin-left: 30px;
}

.buttons {
  margin-top: 35px;
}

.button {
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: rgb(51, 51, 51, 0.5);
  font-size: 20px;
  padding: 10px 40px;
  margin-right: 10px;
}

.description {
  width: 45rem;
  max-width: 400px;
  margin-top: 10px;
}

.description p {
  margin: 0px;
}
